@using xManik.Extensions.IdentityExtensions

<div class="navbar navbar-default navbar-left">
    <div class="profile-sidebar">
        <div class="profile-userpic">
            <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                <p class="small">
                    @User.GetUserName()
                </p>
            </div>
            <div class="profile-usertitle-job">
                @User.GetUserRole()
            </div>
        </div>
        
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right xs-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li class="@UserProfileMenuNavPages.MainNavClass(ViewContext)"><a asp-controller="Home" asp-action="Main">Home</a></li>
                    <li class="@UserProfileMenuNavPages.ManageAccountNavClass(ViewContext)"><a asp-controller="Manage" asp-action="Index">Manage account</a></li>
                    <li class="@UserProfileMenuNavPages.UserProfileNavClass(ViewContext)"><a asp-controller="UserProfile" asp-action="ManageUserProfile">Manage User profile</a></li>
                    <li class="@UserProfileMenuNavPages.AllAssigmentsNavClass(ViewContext)"><a asp-controller="Assigment" asp-action="AllAssigments">Assigments</a></li>
                    <li class="@UserProfileMenuNavPages.NewsNavClass(ViewContext)"><a asp-controller="News" asp-action="AllNews">News</a></li>

                    @if (User.IsInRole("Client"))
                    {
                        <li class="@UserProfileMenuNavPages.SearchChannelsNavClass(ViewContext)"><a asp-controller="Chanel" asp-action="Index">Search Channels</a></li>
                        <li class="@UserProfileMenuNavPages.AddAssigmentNavClass(ViewContext)"><a asp-controller="Assigment" asp-action="Create">Add assigment</a></li>
                        <li class="@UserProfileMenuNavPages.UserAssigmentsNavClass(ViewContext)"><a asp-controller="Assigment" asp-action="UserAssigments">My assigments</a></li>
                    }

                    @if (User.IsInRole("Blogger"))
                    {
                        <li class="@UserProfileMenuNavPages.AddAssigmentNavClass(ViewContext)"><a asp-controller="Chanel" asp-action="Create">Add chanel</a></li>
                        <li class="@UserProfileMenuNavPages.UserAssigmentsNavClass(ViewContext)"><a asp-controller="Chanel" asp-action="UserChanels">My chanels</a></li>
                    }

                    <li class="@UserProfileMenuNavPages.UserDealsNavClass(ViewContext)"><a asp-controller="Deal" asp-action="AllDeals">My deals<span style="float:right;" class="badge">@ViewData["newDeals"]</span></a></li>
                    <li><button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button></li>
                </ul>
            </form>
    </div>
</div>