@model Provider
@using xManik.Extensions
@{
    ViewData["Title"] = "Details";
    var images = Model.Portfolio;
}

<h2>Details</h2>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-3 col-md-3">
        <br />
        <h3>@Model.User.UserName</h3>
        <button type="button" class="btn btn-success small">Book me!</button>
        <br /><br />
        <ul class="list-group">
            <li class="list-group-item text-muted" contenteditable="false">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span>@Model.User.DateRegistered</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> Yesterday</li>
            <li class="list-group-item text-right">
                <span class="pull-left"><strong class="">Real name</strong></span> Joseph
                Doe
            </li>
            <li class="list-group-item text-right">
                <span class="pull-left"><strong class="">Role: </strong></span> @Model.User.Role
            </li>
        </ul>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 ">
        <a href="/users"><img title="profile image" class="img-thumbnail" src="@Utils.ConvertByteToString(Model.User.ProfileImage)"></a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3">
        <!--left col-->
        <div class="panel panel-default">
            <div class="panel-heading">
                Website <i class="fa fa-link fa-1x"></i>
            </div>
            <div class="panel-body">
                <a href="http://bootply.com" class="">bootply.com</a>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item text-muted">
                Activity <i class="fa fa-dashboard fa-1x"></i>
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Shares</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Followers</strong></span> 78</li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
                <i class="fa fa-facebook fa-2x"></i>
                <i class="fa fa-github fa-2x"></i>
                <i class="fa fa-twitter fa-2x"></i>
                <i class="fa fa-pinterest fa-2x"></i>
                <i class="fa fa-google-plus fa-2x"></i>
            </div>
        </div>
    </div>
    <!--/col-3-->
    <div class="col-sm-9" contenteditable="false" style="">
        <div class="panel panel-default">
            <div class="panel-heading">About me</div>
            <div class="panel-body">
                @Model.Description
            </div>
        </div>
        <div class="panel panel-default target">
            <div class="panel-heading" contenteditable="false">My Portfolio</div>
            <div class="panel-body">
                <div class="row">
                    @foreach (var item in images)
                {
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="@Utils.ConvertByteToString(item.Image)" />
                            <div class="caption">
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
            }
                </div>
            </div>
        </div>


      

        <div class="reviews-partial" ng-app="myApp">
            @await Html.PartialAsync("../Reviews/Index.cshtml", Tuple.Create(Model.Reviews, Model.Id))
        </div>
    </div>
</div>
