@model PaginatedList<Provider>
@using xManik.Extensions;
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div id="portfolio" class="section md-padding bg-grey">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-md-4 col-xs-6 work">
                <img class="img-responsive" src="@Utils.ConvertByteToString(item.User.ProfileImage)" alt="">
                <div class="overlay"></div>
                <div class="work-content">
                    <div class="button-link">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-lg">Дізнатися більше</a>
                    </div>
                </div>
                   <p>
                       <h2 class="user-inform">@item.User.UserName</h2>
                       <br />
                       <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                   </p>
                
            </div>
                @*<div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <img src="@Utils.ConvertByteToString(item.User.ProfileImage)" alt="" class="img-rounded img-responsive" />
                                </div>
                                <div class="col-sm-6 col-md-8">
                                    <h4>
                                        @item.User.UserName
                                    </h4>
                                    <small>
                                        <cite title="San Francisco, USA">
                                            San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                                            </i>
                                        </cite>
                                    </small>
                                    <p>
                                        <i class="glyphicon glyphicon-envelope"></i>@item.User.Email
                                        <br />
                                        <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                                        <br />
                                        <i class="glyphicon glyphicon-gift"></i>@item.User.DateRegistered
                                    </p>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-lg">Дізнатися більше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            }
        </div>
    </div>
</div>
<div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-page="@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-page="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
