@model IEnumerable<xManik.Models.Assigment>

@{
    ViewData["Title"] = "Index";
}

<h2>Assigments list</h2>
<hr>

<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
    @if (Model.Count() == 0)
    {
        <h1>Sorry, no services with that description:</h1>
        <h2><i>@ViewData["CurrentFilter"]</i></h2>
    }
    @foreach (var item in Model)
    {
        <div class="well well-sm card">
            <a asp-action="Details" asp-route-id="@item.AssigmentId">More Details</a>
            <div class="card-body">
                <h3 class="card-title">Product Name</h3>
                <h4>$@item.MaxBudget</h4>
                <h4>@item.Deadline</h4>
                <h4>@item.Type</h4>

                <p class="card-text">@item.DetailedDescription</p>
            </div>
            @if (User.IsInRole("Blogger"))
            {
                <a asp-controller="Deal" asp-action="AddDeal" asp-route-id="@item.AssigmentId">Offer personal site</a>
            }
        </div>
    }
</div>


@*<h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Network)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Format)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DetailedDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxBudget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deadline)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Network)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Format)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DetailedDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxBudget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deadline)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AssigmentId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AssigmentId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AssigmentId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
