@model IEnumerable<xManik.Models.Assigment>

@{
    ViewData["Title"] = "My assigments";
}

<h2>My assigments</h2>
    <a asp-action="Create" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Add new 
    </a>
<hr />

<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        @foreach (var item in Model)
        {
            var logoPath = "/images/";
            switch (item.Network)
            {
                case SocialNetworks.YouTube:
                    logoPath += "youtube.png";
                    break;
                case SocialNetworks.Instagram:
                    logoPath += "instagram.png";
                    break;
                case SocialNetworks.Facebook:
                    logoPath += "facebook.png";
                    break;
                case SocialNetworks.Telegram:
                    logoPath += "telegram.png";
                    break;
            }


            <div class="well well-sm card bg-light-aqua">
                <div class="card-title">
                    <h3 style="margin-top:0px;" class="d-inline-block">@item.Network</h3>
                    <img src=@logoPath
                         alt="icon" class="img-responsive d-inline-block"
                         style="max-height: 50px; max-width: 50px;">
                    <hr />
                    <h4 class="text-lowercase">
                        <strong class="text-capitalize">Ad type: </strong>@item.Type
                    </h4>
                    <h4 class="text-lowercase">
                        <strong class="text-capitalize">Ad format: </strong>@item.Format
                    </h4>
                    <h4 class="text-lowercase">
                        <strong class="text-capitalize">Deadline: </strong>@item.Deadline
                    </h4>
                    <h4 class="text-lowercase">
                        <strong class="text-capitalize">Budget: </strong>@item.MaxBudget
                    </h4>
                </div>
                <hr />
                <div class="card-body">
                    <h3 class="card-title">@item.ShortDescription</h3>
                    <h4 class="card-text">@item.DetailedDescription</h4>
                </div>

            </div>
        }
    </div>
</div>
