@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
@using System.Security.Claims;

<ul class="nav nav-pills nav-stacked">
    <li class="@UserProfileNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profile</a></li>
    @if (User.IsInRole("Client"))
    {
        <li class="@UserProfileNavPages.SearchBloggersNavClass(ViewContext)"><a asp-action="???">Search Bloggers</a></li>
        <li class="@UserProfileNavPages.AddAssigmentNavClass(ViewContext)"><a asp-action="???">Add assigment</a></li>
        <li class="@UserProfileNavPages.UserAssigmentsNavClass(ViewContext)"><a asp-action="??">My assigments</a></li>
    }

    @if (User.IsInRole("Blogger"))
    {
        <li class="@UserProfileNavPages.SearchBloggersNavClass(ViewContext)"><a asp-action="???">Assigments</a></li>
        <li class="@UserProfileNavPages.AddAssigmentNavClass(ViewContext)"><a asp-action="???">Add chanel</a></li>
        <li class="@UserProfileNavPages.UserAssigmentsNavClass(ViewContext)"><a asp-action="??">My chanels</a></li>
    }
</ul>