@model xManik.Extensions.PaginatedList<News>
@{
    ViewData.AddActivePage(UserProfileMenuNavPages.News);
    ViewData["Title"] = "AllNews";
}


<div class="xs-padding">
    <h2>Recent news</h2>

    @if (User.IsInRole("Admin"))
    {
        <p><a asp-action="Create">Create New</a></p>
    }

    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-xs-10 col-sm-9 col-md-5 col-sm-offset-1 well">
                <div class="news-title">
                    <h2 class="text-center">@item.Title</h2>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit" style="font-size:16px"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" style="font-size:16px"></i></a>
                    }
                </div>
                <div class="hovereffect">
                    <p>
                        @item.Text
                    </p>
                    <div class="news-image">
                        <img class="img-responsive" src="@(NewsManager.PATHTOIMAGESFOLDER + item.Image )" alt="">
                    </div>
                    <div class="overlay">
                        <h3 class="text-center white-text">@item.DatePublished</h3>
                        <a asp-action="Details" class="btn btn-primary btn-lg active" style="margin-top:80px" asp-route-id="@item.Id">Details &rarr;</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <br /><br />
    <div class="center-block text-center">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="AllNews"
           asp-route-page="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="AllNews"
           asp-route-page="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>