@model IEnumerable<xManik.Models.Chanel>

@{
    ViewData.AddActivePage(UserProfileMenuNavPages.UserChanels);
    ViewData["Title"] = "All channels";
    string role = null;
    if (User.IsInRole(Roles.Blogger.ToString()))
    {
        role = Roles.Blogger.ToString();
    }
    else if (User.IsInRole(Roles.Client.ToString()))
    {
        role = Roles.Client.ToString();
    }
}

<h2>Chanels</h2>
<hr>

<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
    @if (Model.Count() == 0)
    {
        <h1>You don't have any channels yet.</h1>
        <h2><i>@ViewData["CurrentFilter"]</i></h2>
    }
    @foreach (var item in Model)
    {
        var logoPath = "/images/";

        switch (item.Network)
        {
            case SocialNetworks.YouTube:
                logoPath += "youtube.png";
                break;
            case SocialNetworks.Instagram:
                logoPath += "instagram.png";
                break;
            case SocialNetworks.Facebook:
                logoPath += "facebook.png";
                break;
            case SocialNetworks.Telegram:
                logoPath += "telegram.png";
                break;
        }

        var data = new Dictionary<string, string> { { "id", item.ChanelId }, { "role", role } };
        <div class="well well-sm card bg-light-aqua">
            <div class="card-title">
                <img src=@logoPath
                     alt="icon" class="img-responsive pull-left"
                     style="max-height: 25px; max-width: 25px;">
                <h3 style="margin:1% 3%;">@item.Network</h3>
                <ul class="list-inline text-muted">
                    <li><i class="glyphicon glyphicon-user"></i> @item.SubscribersNum subscribers</li>
                    <li><i class="glyphicon glyphicon-eye-open"></i> @item.AvgViewNum views</li>
                    <li><i class="glyphicon glyphicon-heart"></i> @item.AvgLikeNum likes</li>
                    <li><i class="glyphicon glyphicon-star"></i> @item.LocalRank stars</li>
                </ul>
                <div class="text-muted">@item.Category</div>
                <hr />
            </div>

            <div class="card-body">
                <h4>@item.Description</h4>
                @if (User.IsInRole(Roles.Client.ToString()))
                {
                    <hr />
                    var data1 = new Dictionary<string, string> { { "id", item.ChanelId }, { "role", role } };
                    <a asp-controller="Deal" asp-action="AddDeal" asp-all-route-data="@data1" class="btn btn-primary">Make deal</a>
                }
            </div>

        </div>
    }
</div>


