@model IEnumerable<xManik.Models.Chanel>

@{
    ViewData["Title"] = "Index";
    string role = null;
    if (User.IsInRole(Roles.Blogger.ToString()))
    {
        role = Roles.Blogger.ToString();
    }
    else if (User.IsInRole(Roles.Client.ToString()))
    {
        role = Roles.Client.ToString();
    }
}

<h2>Chanels list</h2>
<hr>

<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
    @foreach (var item in Model)
     {
        var data = new Dictionary<string, string> { { "id", item.ChanelId }, { "role", role} };
        <div class="well well-sm card">
            <a asp-action="Details" asp-all-route-data="@data">More Details</a>
            <div class="card-body">
                <h3 class="card-title">@item.Network chanel</h3>
                <h4>@item.SubscribersNum subscribers</h4>
                <h4>@item.AvgLikeNum likes</h4>
                <h4>@item.AvgViewNum views</h4>
                <h4>@item.LocalRank stars</h4>
                <h4>@item.Category category</h4>

                <p class="card-text">@item.Description</p>
                <h5><a asp-controller="UserProfile" asp-action="UserProfile" asp-route-id="@item.UserProfileId">Blogger</a></h5>
            </div>
            @if (User.IsInRole(Roles.Client.ToString()))
            {
                <a asp-controller="Deal" asp-action="AddDeal" asp-all-route-data="@data">Offer assigment</a>
            }
        </div>
    }
</div>


