@model xManik.Models.Assigment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assigment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Network)
        </dt>
        <dd>
            @Html.DisplayFor(model =>  model.Network)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Format)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DetailedDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DetailedDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxBudget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxBudget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AssigmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
