@model IEnumerable<Deal>
@{
    ViewData["Title"] = "My deals";
    ViewData.AddActivePage(UserProfileMenuNavPages.AllDeals);
}

<h1>Deals</h1>
<hr />
<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
    @if (Model.Count() == 0)
    {
        <h1>You don't have any deals yet</h1>
    }
    @foreach (var item in Model)
    {
        <div class="well well-sm card bg-light-aqua">
            <div class="card-title text-muted">
                <h3 class="card-title">
                    @if (User.IsInRole("Client"))
                    {
                        @:Deal from:
                        <a asp-controller="UserProfile" asp-action="UserProfile" asp-route-id="@item.SenderId"> User </a>
                    }
                </h3>
                <ul class="list-inline">
                    @if (item.Assigment != null)
                    {
                        <li>@item.Assigment.Network</li>
                        <li>@item.Assigment.Type</li>
                        <li>Deadline: @item.Assigment.Deadline</li>
                    }
                    else if (item.Chanel != null)
                    {
                        <li>@item.Chanel.Network</li>
                        <li>@item.Chanel.Category</li>
                        <li>@item.Chanel.SubscribersNum</li>
                    }
                </ul>
                <hr />
            </div>

            <div class="card-body">
                <h3 class="card-title">@item.Assigment.ShortDescription</h3>
                <h4>$@item.Assigment.MaxBudget</h4>
                <h5><a asp-controller="Deal" asp-action="Details" asp-route-id="@item.DealId" class="btn btn-primary">More details</a></h5>
            </div>
        </div>
    }
</div>
