@model IEnumerable<xManik.Models.Deal>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AssigmentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BloggerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRead)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssigmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloggerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
        </tr>
}
    </tbody>
</table>
